@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
    --cinza-header: rgb(239, 234, 234);
    --cinza-produtos: rgb(35, 35, 35);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: rgb(247, 247, 247);
    
}
